* {
  scroll-behavior: smooth;
}

.parallax_bg {
  height: 85vh;

  background-attachment: fixed;
  background-position: right calc(100% - 50%) center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax_fg {
  min-height: 100vh;
  background-color: #222;
}

#gif_animation {
  background-image: url('../images/in_the_zone.gif');
  background-size: cover;
}

#bin_heart {
  background-image: url("../images/binary_heart.jpg");
}

#arizona {
  background-image: url("../images/desert_trail.jpg");
}

#eat_sleep {
  background-image: url("../images/eat_sleep_code_repeat.jpg");
}

.bg-center {
  background-position: right calc(100% - 50%) center;
}
